h1 {
    font-size: 31;
    font-style: italic;
    font-family: 'William', serif;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 45px;
    color: white;
}

h2 {
    font-size: 31;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    margin-top: 0;
    margin-bottom: 35px;
    color: white;
}

h3 {
    font-family: Inter, sans-serif;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: normal;
    color: white; 
}

p {
    font-family: 'Inter', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

img {
    width: 210px;
    margin-bottom: 80px;
}

div {
    background: #C930C9;
    background: linear-gradient(340deg, #C930C9, #3791A2);
    height: 500px;
    width: 500px;
    text-align: center;
    margin: 0 auto 20px;
}

