* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 360px;
    height: 64px;
    padding: 24px 0 0 20px;
    background-color: #ff0095;
}

.header__logo {
    vertical-align: top;
    width: 0.25;
}

.main-content {
    padding: 16px 20px 56px;
    width: 360px;
}

.main-content__points{
    display: inline-flex;
    width: 32px;
    gap: 4px;
    margin-bottom: 8px;
}

.main-content__point{
    background-color: #D9D9D9;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.main-content__title {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 600;
    font-style: Semibold;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    margin-bottom: 16px;
}

.main-content__lead{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0;
    color: #6c6c6c;
    margin-bottom: 20px;
}

.main-content__lead-link {
    color: #6c6c6c;
}

.main-content__image {
    margin-bottom: 17px;
}

.main-content__text {
    margin-bottom: 1em;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: 0;
    color: #141414;
    font-style: Regular;
}

.main-content__text-link {
    color: #141414;
}

.main-content__list {
    margin-left: -20px;
}

.main-content__list-item {
    margin-bottom: 1em;
}

.footer {
    width: 360px;
    background-color: #ff0095;
    padding: 20px;
}

.footer__content {
}

.footer__text {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0%;
    color: #f5f5f5;
}