/* * {
} */

body {
    margin: 0;
    background-color: #1e1e1e;
    width: 360px;
}

h1, h2 {
    font-family: 'EB Garamond', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 135%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    font-family: 'Inter', sans-serif;
    width: 360px;
    box-sizing: border-box;
}

.content-section_theme_dark {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #131313;
    color: #f5f5f5;
}

.content-section_theme_bright {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #fee42a;
    color: #131313;
}

.header {
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}
.header__menu-list {
    list-style: none;
}

.header__menu-item, .header__menu-item--active{
    margin-bottom: 0.75em;
}

.header__menu-link {
    text-decoration: underline;
    text-underline-position: under;
}

.cover__title {
    font-family: 'EB Garamond', sans-serif;
    font-size: 72px;
    font-weight: 400;
    color: #fff;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 220px;
    padding: 7px 20px 0;
    background-image: url(../assets/cover.svg);
    background-repeat:no-repeat;
    background-size: 95% auto;
    background-position: bottom right;
}

/* .accent-span {
} */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.intro__heading {
    padding: 30px 20px 24px;
    color: #ccc;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    justify-content: space-between;
}

.intro__time {
    white-space: nowrap;
}

.intro__main-text {
    padding: 0 20px 1.5em;
    line-height: 135%;
    font-size: 16px;
}

.reasons {
    padding: 40px 20px 39px;
}

.content-section__subtitle {
    font-weight: 500;
    font-size: 28px;
    line-height: 115%;
    display: flex;
    flex-direction: column;
}

.content-section__introduction {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 32px;
    line-height: 135%;
}

.content-section__list {
    margin-top: 32px;
    padding: 0 0 0 20px;
    line-height: 21.6px;
}

.content-section__list-item {
    margin-bottom: 1em;
}

.content-section__list-accent {
    font-weight: bold;
}

.how-to {
    padding: 40px 20px 60px;
}

.card-list {
    /* padding: 0 20px; */
    list-style: none;
}

.card {
    padding: 20px;
    border-radius: 30px;
    margin-top: 32px;
}

.card_theme_dark {
    background-color: #343434;
    color: #f5f5f5;
}

.card_theme_bright {
    background-color: #fee42a;
    color: #131313;
}

.card__author {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.card__author-photo {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}

.card__author-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 135%;
}

.card__title {
    font-family: 'EB Garamond', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 135%;
    margin-bottom: 8px;
}

.card__text {
    line-height: 135%;
    font-weight: 300;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}